<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-middle w3-jumbo">
    <p class="logopic"><img src="public/images/meal.ly.png" alt="meal.ly logo" width="250" height="250"></p>
  </div>
  <div class="w3-display-topleft w3-container w3-xlarge">
    <p><button onclick="document.getElementById('menu').style.display='block'" class="w3-button w3-black">restaurants
        served</button>
    </p>
    <p><button onclick="document.getElementById('orders').style.display='block'" class="w3-button w3-black">place
        order</button></p>
    <p><a href="/logout" onclick="document.getElementById('').style.display='block'"
        class="w3-button w3-black">logout</a></p>

  </div>
  <div class="w3-display-bottomleft w3-container">
  </div>
</div>
<!-- Menu Modal -->
<div id="menu" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('menu').style.display='none'"
        class="w3-button w3-display-topright w3-large">x</span>
      <h1>Italian</h1>
    </div>
    <div class="w3-container">
      <h5>Olive Garden</h5>
      <h5>Carraba's</h5>
      <h5>Macaroni Grill</h5>
    </div>
    <div class="w3-container w3-black">
      <h1>Steak</h1>
    </div>
    <div class="w3-container">
      <h5>Outback Steakhouse</h5>
      <h5>Longhorn Steakhouse</h5>
      <h5>Texas Roadhouse</h5>
      <h5>Texas de Brazil </h5>
    </div>
    <div class="w3-container w3-black">
      <h1>Seafood</h1>
    </div>
    <div class="w3-container">
      <h5>Trulucks</h5>
      <h5>Bonefish Grill</h5>
      <h5>Pappadeaux</h5>
    </div>
  </div>
</div>
<!-- Orders Modal -->
<div id="orders" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black">
      <span onclick="document.getElementById('orders').style.display='none'"
        class="w3-button w3-display-topright w3-large">x</span>
      <h1>Place Order</h1>
    </div>
    <div class="w3-container">
      <p class="para-place-order">Place your order here:</p>
      <form class="order_form">
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"
            id="customer_name"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Address" required name="Name"
            id="customer_address"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Order" required name="People"
            id="customer_order"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local" placeholder="Date and time" required
            name="date" id="current-time"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="number" placeholder="Total" required name="Name"
            id="customer_total">
        </p>
        <p><button class="w3-button" type="submit" id="btn-form">SEND ORDER</button></p>
      </form>
    </div>
  </div>
</div>
<div class="jumbotron text-center" style="margin-bottom:0" style="margin-top:0">
  <h1 id="h1-head">Meal.ly</h1>
</div>
{{!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  </div>
</nav> --}}
<form class="form-inline" action="/action_page.php">
  <label class="driverID" for="fname">Driver ID:</label>
  <input class="driverInput" type="text" id="fname" name="fname" value=""><br>
</form>

{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="container">
  <div class="row">
    <!-- Order Placed -->
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="lefthead"><strong>Order Placed</strong></div>
        <div class="panel-body">
          <ul>
            {{#each meals}}

            {{#unless onTheway}}
            <span class="orderInfo"><strong> customer name: {{customer_name}} - customer address: {{customer_address}} -
                customer order: {{customer_order}} - customer total: {{customer_total}} </strong></span>
            <button type="button" class="deliverorder btn btn-secondary fas fa-utensils" id="deliverbutton"
              data-id="{{id}}" data-newonTheway="{{onTheway}}"></button>
            <hr>
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <!-- Order Delivered -->
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading rounded-0" id="righthead"><strong>Order Delivered</strong></div>
        <div class="panel-body">
          <ul>
            {{#each meals}}

            {{#if onTheway}}
            <span class="deliveredInfo"><strong> customer name: {{customer_name}} - customer address:
                {{customer_address}} - customer order: {{customer_order}} - customer total: {{customer_total}}
              </strong></span>
            <button type="button" class="deliveredOrder btn btn-dark fas fa-truck" id="trashbutton"
              data-id="{{this.id}}" data-newonTheway=""="{{onTheway}}"></button>
            <hr>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /row -->

  {{!-- <div class="input-group mb-3">
    <button type="button" class="btn btn-secondary" id="btnEx">Export To Excel</button> <br>
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
    </div>
    <input type="text" class="form-control rounded-0" aria-label="Amount (to the nearest dollar)">
    <div class="input-group-append">
      <span class="input-group-text">.00</span>
  </div> --}}
</div>